.SubmitButton{
    font-size: 1em;
    background-color: darkslategrey;
    color: aliceblue;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: solid 0.1rem darkslategrey;
    margin: 1.5em;

    max-width: 50em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.SubmitButton:hover{
    border-color: black;
    cursor: pointer;
}